* {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
}

nav {
  color: #f679fa;
  background-color: transparent;
  display: flex;
  justify-content: space-between;
  transition: 1s;
  width: 100vw;
}

.fixed-nav {
  position: fixed;
  top: 0;
}

.navbar {
  margin-top: 68px;
  transform: translateX(400%);
  transition: 1s;
  height: 100vh;
  width: 25vw;
  display: grid;
  justify-content: right;
  background-color: #4d26aa;
  overflow: hidden;
  position: fixed;
}

.show {
  transform: translateX(300%);
}

ul {
  margin-right: 20px;
}

.navbar ul li {
  list-style: none;
  margin-bottom: 30px;
}

a {
  color: #f679fa;
  text-decoration: none;
}

.menu {
  margin-right: 20px;
  grid-column: 2;
  cursor: pointer;
  display: grid;
  justify-content: right;
}

.title {
  margin-left: 20px;
  font-family: 'Balsamiq Sans', cursive;
}

.nav-background {
  background-color: #4d26aa;
}

.header-background {
  background: url(/images/header.jpg);
  background-size: cover;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  z-index: -1;
  box-shadow: 0 3000px rgba(77, 38, 170, 0.75) inset;
}

.header-stack {
  background: var(--overlay);
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header-message {
  color: #f679fa;
  font-size: 48px;
  margin: 0 auto;
}

#posts {
  background-color: white;
  color: #4d26aa;
  padding-bottom: 75px;
}

#posts h2 {
  margin-top: 75px;
  margin-left: 10px;
}

.about {
  background-color: white;
  color: #4d26aa;
}

.about h2 {
  margin-top: 75px;
  margin-left: 10px;
}

.about p {
  margin-left: 10px;
  margin-bottom: 75px;
}

.posts-message {
  color: #f679fa;
  width: 100vw;
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  text-align: center;
}

.results {
  margin-left: 10px;
}

.posted-by {
  color: #f679fa;
}

#create-post {
  background-color: white;
  color: #4d26aa;
}

#create-post h2 {
  margin-top: 75px;
  margin-left: 10px;
}

#login {
  background-color: white;
  color: #4d26aa;
}

.login,
.loggedin {
  display: flex;
  justify-content: space-evenly;
}

.logout-btn {
  margin-bottom: 75px;
}

.error-message {
  margin-top: 75px;
}

.login-title,
.signup-title {
  margin-top: 75px;
}

.signup-btn,
.login-btn {
  margin-bottom: 75px;
}

.white-background {
  background-color: white;
  padding: 10px;
  color: #4d26aa;
}

footer {
  background-color: #4d26aa;
  color: #f679fa;
}

footer p {
  margin-left: 20px;
}

@media (max-width: 600px) {
  .header-background {
    background: none;
    background-color: #4d26aa;
  }
  .header-message {
    text-align: center;
  }
  .navbar {
    width: 100vw;
    transform: translateX(100%);
  }
  .show {
    transform: none;
  }

  nav {
    transition: 0s;
  }

  .about h2 {
    text-align: center;
    margin-left: 0px;
  }

  .about p {
    text-align: center;
    margin-left: 0px;
  }

  .posts-message {
    font-size: 36px;
  }

  .login,
  .loggedin {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .login-btn {
    margin-bottom: 0px;
  }

  .signup-title {
    margin-top: 0px;
  }
}
